@media (max-width: 800px){
	footer{
		
	}
	
		footer div.contato{
			width: 100%;
/*			display: block;*/
			display: none;
			text-align: center;
		}
	
			footer div.contato a{
				display: block;
			}
	
		footer div.realizacao{
			float: none;
			text-align: center;
			width: 100%;
			display: block;
		}
}

footer{
	background: #000;
	color: #ddd;
	
	clear: both;
	margin-top: 20px;
	overflow: hidden;
	
	font-weight: 100;
}

	footer h2{
		color: #fff;
	}

	footer div.contato{
/*		display: inline-block;*/
		display: none;
	}

		footer div.contato a{
			color: #fff;
		}

	footer div.realizacao{
/*		float: right;*/
		text-align: center;
		
		float: none;
		text-align: center;
		width: 100%;
		display: block;
		
		margin-bottom: 20px;
	}

		footer div.realizacao img{
			width: 130px;
			margin: 10px 0px;
		}

	footer div.creditos{
		background-color: rgba(255, 255, 255, 0.2);
		height: 60px;
		text-align: center;
		
		clear: both;
	}

		footer div.creditos img{
			height: 30px;
			margin-top: 15px;
		}

		
			footer div.center{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				
				position: relative;
				
				left: 50%;
				transform: translateX(-50%);
				
				width: 300px;
				
				max-width: calc(100% - 40px);
			}

				footer div.center img.seleprot-logo{
					height: 53px;
				  margin-top: 50px;
				}


footer div.compartilhar{
	display: block;
	text-align: center;
}

	footer div.compartilhar a{
		
	}

		footer div.compartilhar a img{
			width: 30px;
		}

			footer div.compartilhar a:not(:first-child){
				margin-left: 10px;
			}
