@media (max-width: 800px){
	footer{
		
	}
	
		footer div.contato{
			width: 100%;
			display: block;
			text-align: center;
		}
	
			footer div.contato a{
				display: block;
			}
	
		footer div.realizacao{
			float: none;
			text-align: center;
			width: 100%;
			display: block;
		}
}

footer{
	background: #000;
	color: #ddd;
	
	clear: both;
	margin-top: 20px;
	overflow: hidden;
	
	font-weight: 100;
}

	footer h2{
		color: #fff;
	}

	footer div.contato{
		display: inline-block;
	}

		footer div.contato a{
			color: #fff;
		}

	footer div.realizacao{
		float: right;
		text-align: center;
	}

		footer div.realizacao img{
			width: 130px;
			margin: 10px 0px;
		}

	footer div.creditos{
		background-color: rgba(255, 255, 255, 0.2);
		height: 60px;
		text-align: center;
		
		clear: both;
	}

		footer div.creditos img{
			height: 30px;
			margin-top: 15px;
		}

