div.dia:not(:last-child){
	margin-bottom:	30px;
}

div.data{
	float: left;
	margin-right: 10px;
}

table.programacao{
	display: inline-block;
	border-collapse: collapse;
}

	table.programacao tr:first-child{
		height: 40px;
		text-transform: uppercase;
		color: #fff;
		background: #000;
	}

	table.programacao tr{
		height: 60px;
	}

		table.programacao tr:nth-child(odd){
			background: #d7d7d7;
		}

		table.programacao tr:nth-child(even){
			background: #bfbfbf;
		}

			table.programacao tr th{
				background: #000;
			}

			table.programacao tr td{
				
				padding: 0px 20px;
			}